<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949419419550-cehf6t5jp9j2fmmurnh6s4ja4rb35u8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949419419550-cehf6t5jp9j2fmmurnh6s4ja4rb35u8n</string>
	<key>API_KEY</key>
	<string>AIzaSyDg12c25r9Zk2Mt6H6TMaTlxtC_2cJckVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>949419419550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cargapp</string>
	<key>PROJECT_ID</key>
	<string>cargapp-mvp</string>
	<key>STORAGE_BUCKET</key>
	<string>cargapp-mvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949419419550:ios:88eb7e135165ce310f188f</string>
	<key>DATABASE_URL</key>
	<string>https://cargapp-mvp.firebaseio.com</string>
</dict>
</plist>